In [1]:
import modin.pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
import keras.backend as K

import lime

Using TensorFlow backend.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

In [2]:
training_dat = pd.read_pickle('./PROCESSED/training_dat2.pkl')
training_dat.columns

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

UserWarning: `read_pickle` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

Index(['Loan Sequence Number', 'Loan Deliquency Within Year', 'Credit Score',
       'Mortgage Insurance Percentage (MI %)', 'MortgageInsuranceFlag',
       'Units_1', 'Units_2', 'Units_3', 'Units_4', 'OccupancyStatus_I',
       'OccupancyStatus_P', 'OccupancyStatus_S',
       'Original Combined Loan-to-Value (CLTV)',
       'Original Debt-to-Income (DTI) Ratio', 'Original UPB',
       'Original Loan-to-Value (LTV)', 'Original Interest Rate', 'Channel_B',
       'Channel_C', 'Channel_R', 'PropertyType_CO', 'PropertyType_CP',
       'PropertyType_MH', 'PropertyType_PU', 'PropertyType_SF',
       'LoanPurpose_C', 'LoanPurpose_N', 'LoanPurpose_P', 'LoanTerm_360',
       'LoanTerm_180', 'LoanTerm_240', 'LoanTerm_120', 'LoanTerm_300',
       'Original Loan Term', 'OneBorrower', 'AffordableProgramFlag'],
      dtype='object')

In [3]:
training_dat['Loan Deliquency Within Year'].value_counts()

UserWarning: value_counts defaulting to pandas implementation.

0.0    387832
1.0      8435
Name: Loan Deliquency Within Year, dtype: int64

In [4]:
# tf = training_dat['Loan Deliquency Within Year'] == 1.0
# true_dat = training_dat[tf].copy()
# false_dat = training_dat[~tf].sample(len(true_dat)).copy()
# balanced_dat = pd.concat([true_dat,false_dat])

In [5]:
metrics = training_dat.describe().transpose()
metrics.reset_index(inplace=True)
metrics.rename(columns={'index':'column'},inplace=True)
metrics.head()

,column,count,mean,std,min,25%,50%,75%,max
0,Loan Deliquency Within Year,396267.0,0.021286,0.144337,0.0,0.000000,0.000000,0.000000,1.0
1,Credit Score,396267.0,0.721038,0.127547,0.0,0.634503,0.748538,0.824561,1.0
2,Mortgage Insurance Percentage (MI %),396267.0,0.138525,0.272966,0.0,0.000000,0.000000,0.000000,1.0
3,MortgageInsuranceFlag,396267.0,0.218746,0.413397,0.0,0.000000,0.000000,0.000000,1.0
4,Units_1,396267.0,0.980379,0.138693,0.0,1.000000,1.000000,1.000000,1.0

In [7]:
# tf1 = metrics['mean'] < 1.1
# tf2 = metrics['mean'] > -.1
# tf = tf1 & tf2
# metrics[tf]

In [7]:
# Only keep columns with diverse selection of values
keep_cols = ['Loan Sequence Number']
exclude_cols = ['PropertyType_CP']
good_cols = list(metrics[tf]['column'])
keep_cols.extend(good_cols)
keep_cols

['Loan Sequence Number',
 'Loan Deliquency Within Year',
 'Credit Score',
 'Mortgage Insurance Percentage (MI %)',
 'Units_1',
 'Units_2',
 'Units_3',
 'Units_4',
 'OccupancyStatus_I',
 'OccupancyStatus_P',
 'OccupancyStatus_S',
 'Original Combined Loan-to-Value (CLTV)',
 'Original Debt-to-Income (DTI) Ratio',
 'Original UPB',
 'Original Loan-to-Value (LTV)',
 'Original Interest Rate',
 'Channel_B',
 'Channel_C',
 'Channel_R',
 'PropertyType_CO',
 'PropertyType_CP',
 'PropertyType_MH',
 'PropertyType_PU',
 'PropertyType_SF',
 'LoanPurpose_C',
 'LoanPurpose_N',
 'LoanPurpose_P',
 'LoanTerm_360',
 'LoanTerm_180',
 'LoanTerm_240',
 'LoanTerm_120',
 'LoanTerm_300',
 'Original Loan Term',
 'OneBorrower',
 'AffordableProgramFlag']

In [8]:
final_df = training_dat[keep_cols].copy()
final_df.head()

,Loan Sequence Number,Loan Deliquency Within Year,Credit Score,Mortgage Insurance Percentage (MI %),Units_1,Units_2,Units_3,Units_4,OccupancyStatus_I,OccupancyStatus_P,...,LoanPurpose_N,LoanPurpose_P,LoanTerm_360,LoanTerm_180,LoanTerm_240,LoanTerm_120,LoanTerm_300,Original Loan Term,OneBorrower,AffordableProgramFlag
0,F110Q1000008,0.0,0.865497,0.0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0.592885,0,0
1,F110Q1000064,0.0,0.900585,0.0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0.592885,1,0
2,F110Q1000072,0.0,0.804094,0.0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0.592885,0,0
3,F110Q1000080,0.0,0.464912,0.0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0.592885,1,0
4,F110Q1000096,0.0,0.850877,0.0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0.592885,1,0

In [9]:
idx_col = 'Loan Sequence Number'

test_size = round(len(final_df[idx_col]) * .2)
test_loans = final_df[idx_col].sample(test_size)
train_loans = list(set(final_df[idx_col].unique()) - set(test_loans))

train_df = pd.DataFrame({idx_col:train_loans})
train_df = train_df.merge(final_df, on=idx_col, how='left')

test_df = pd.DataFrame({idx_col:test_loans})
test_df = test_df.merge(final_df, on=idx_col, how='left')

UserWarning: Distributing <class 'dict'> object. This may take some time.

In [10]:
train_df.head()

,Loan Sequence Number,Loan Deliquency Within Year,Credit Score,Mortgage Insurance Percentage (MI %),Units_1,Units_2,Units_3,Units_4,OccupancyStatus_I,OccupancyStatus_P,...,LoanPurpose_N,LoanPurpose_P,LoanTerm_360,LoanTerm_180,LoanTerm_240,LoanTerm_120,LoanTerm_300,Original Loan Term,OneBorrower,AffordableProgramFlag
0,F118Q1227575,0.0,0.538012,0.0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0.592885,1,0
1,F112Q1025871,0.0,0.614035,0.0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0.592885,0,0
2,F117Q2099665,0.0,0.631579,0.0,1,0,0,0,0,1,...,0,1,1,0,0,0,0,0.592885,0,0
3,F113Q2015308,0.0,0.859649,0.0,1,0,0,0,1,0,...,0,1,1,0,0,0,0,0.592885,1,0
4,F118Q2103288,0.0,0.540936,0.0,1,0,0,0,0,1,...,1,0,0,1,0,0,0,0.237154,1,0

In [11]:
test_df.head()

,Loan Sequence Number,Loan Deliquency Within Year,Credit Score,Mortgage Insurance Percentage (MI %),Units_1,Units_2,Units_3,Units_4,OccupancyStatus_I,OccupancyStatus_P,...,LoanPurpose_N,LoanPurpose_P,LoanTerm_360,LoanTerm_180,LoanTerm_240,LoanTerm_120,LoanTerm_300,Original Loan Term,OneBorrower,AffordableProgramFlag
0,F114Q1047222,0.0,0.622807,0.0,1,0,0,0,0,1,...,0,1,1,0,0,0,0,0.592885,0,0
1,F110Q2176065,0.0,0.856725,0.0,1,0,0,0,0,1,...,0,1,1,0,0,0,0,0.592885,0,0
2,F113Q3312597,0.0,0.593567,0.0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0.592885,0,0
3,F119Q3422102,0.0,0.921053,0.0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0.592885,1,0
4,F113Q2272587,0.0,0.815789,0.0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0.237154,0,0

In [12]:
# Build training and test datasets
X_train = train_df[train_df.columns[2:]].to_numpy()
y_train = train_df["Loan Deliquency Within Year"].to_numpy()

X_test = test_df[test_df.columns[2:]].to_numpy()
y_test = test_df["Loan Deliquency Within Year"].to_numpy()

In [13]:
X_train.shape

(317014, 33)

In [14]:
# From https://aakashgoel12.medium.com/how-to-add-user-defined-function-get-f1-score-in-keras-metrics-3013f979ce0d#:~:text=By%20default%2C%20f1%20score%20is%20not%20part%20of,each%20epoch%2C%20need%20to%20make%20some%20more%20efforts.
def get_f1(y_true, y_pred): #taken from old keras source code
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    recall = true_positives / (possible_positives + K.epsilon())
    f1_val = 2*(precision*recall)/(precision+recall+K.epsilon())
    return f1_val

# From https://medium.com/dataseries/how-to-deal-with-unbalanced-dataset-in-binary-classification-part-3-e580d8d09883
def weighted_binary_crossentropy(y_true, y_pred):
    weights = (y_true * 9) + 1
    bce = K.binary_crossentropy(y_true, y_pred)
    weighted_bce = K.mean(bce * weights)
    return weighted_bce

In [18]:
# Build model
# Taken from https://www.kaggle.com/jashsheth5/binary-classification-with-sklearn-and-keras-95

model = Sequential()
model.add(Dense(33,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

metrics = [
    keras.metrics.FalseNegatives(name="fn"),
    keras.metrics.FalsePositives(name="fp"),
    keras.metrics.TrueNegatives(name="tn"),
    keras.metrics.TruePositives(name="tp"),
    keras.metrics.BinaryAccuracy(name="binary_accuracy"),
    keras.metrics.Precision(name="precision"),
    keras.metrics.Recall(name="recall")
]
model.compile(loss=weighted_binary_crossentropy,optimizer='adam',metrics=metrics)

In [19]:
history = model.fit(X_train,y_train,batch_size=2048,
                    epochs=30, validation_data=(X_test,y_test), verbose=1)

Train on 317014 samples, validate on 79253 samples
Epoch 1/30
317014/317014 [==============================] - 1s 3us/step - loss: 0.5845 - fn: 6590.0000 - fp: 6109.0000 - tn: 304178.0000 - tp: 137.0000 - binary_accuracy: 0.9599 - precision: 0.0219 - recall: 0.0204 - val_loss: 0.5500 - val_fn: 1708.0000 - val_fp: 0.0000e+00 - val_tn: 77545.0000 - val_tp: 0.0000e+00 - val_binary_accuracy: 0.9784 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 2/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5339 - fn: 6727.0000 - fp: 0.0000e+00 - tn: 310287.0000 - tp: 0.0000e+00 - binary_accuracy: 0.9788 - precision: 0.0000e+00 - recall: 0.0000e+00 - val_loss: 0.5320 - val_fn: 1708.0000 - val_fp: 0.0000e+00 - val_tn: 77545.0000 - val_tp: 0.0000e+00 - val_binary_accuracy: 0.9784 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 3/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5202 - fn: 6726.0000 - fp: 3.0000 - tn: 310284.0000 - tp: 1.0000 - binary_accuracy: 0.9788 - precision: 0.2500 - recall: 1.4865e-04 - val_loss: 0.5237 - val_fn: 1708.0000 - val_fp: 2.0000 - val_tn: 77543.0000 - val_tp: 0.0000e+00 - val_binary_accuracy: 0.9784 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 4/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5116 - fn: 6677.0000 - fp: 348.0000 - tn: 309939.0000 - tp: 50.0000 - binary_accuracy: 0.9778 - precision: 0.1256 - recall: 0.0074 - val_loss: 0.5152 - val_fn: 1663.0000 - val_fp: 307.0000 - val_tn: 77238.0000 - val_tp: 45.0000 - val_binary_accuracy: 0.9751 - val_precision: 0.1278 - val_recall: 0.0263
Epoch 5/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5086 - fn: 6552.0000 - fp: 1321.0000 - tn: 308966.0000 - tp: 175.0000 - binary_accuracy: 0.9752 - precision: 0.1170 - recall: 0.0260 - val_loss: 0.5135 - val_fn: 1661.0000 - val_fp: 322.0000 - val_tn: 77223.0000 - val_tp: 47.0000 - val_binary_accuracy: 0.9750 - val_precision: 0.1274 - val_recall: 0.0275
Epoch 6/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5076 - fn: 6467.0000 - fp: 1892.0000 - tn: 308395.0000 - tp: 260.0000 - binary_accuracy: 0.9736 - precision: 0.1208 - recall: 0.0387 - val_loss: 0.5120 - val_fn: 1639.0000 - val_fp: 453.0000 - val_tn: 77092.0000 - val_tp: 69.0000 - val_binary_accuracy: 0.9736 - val_precision: 0.1322 - val_recall: 0.0404
Epoch 7/30
317014/317014 [==============================] - 1s 3us/step - loss: 0.5071 - fn: 6416.0000 - fp: 2478.0000 - tn: 307809.0000 - tp: 311.0000 - binary_accuracy: 0.9719 - precision: 0.1115 - recall: 0.0462 - val_loss: 0.5117 - val_fn: 1621.0000 - val_fp: 613.0000 - val_tn: 76932.0000 - val_tp: 87.0000 - val_binary_accuracy: 0.9718 - val_precision: 0.1243 - val_recall: 0.0509
Epoch 8/30
317014/317014 [==============================] - 1s 3us/step - loss: 0.5062 - fn: 6390.0000 - fp: 2551.0000 - tn: 307736.0000 - tp: 337.0000 - binary_accuracy: 0.9718 - precision: 0.1167 - recall: 0.0501 - val_loss: 0.5140 - val_fn: 1552.0000 - val_fp: 1265.0000 - val_tn: 76280.0000 - val_tp: 156.0000 - val_binary_accuracy: 0.9645 - val_precision: 0.1098 - val_recall: 0.0913
Epoch 9/30
317014/317014 [==============================] - 1s 3us/step - loss: 0.5070 - fn: 6335.0000 - fp: 3062.0000 - tn: 307225.0000 - tp: 392.0000 - binary_accuracy: 0.9704 - precision: 0.1135 - recall: 0.0583 - val_loss: 0.5129 - val_fn: 1562.0000 - val_fp: 1180.0000 - val_tn: 76365.0000 - val_tp: 146.0000 - val_binary_accuracy: 0.9654 - val_precision: 0.1101 - val_recall: 0.0855
Epoch 10/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5060 - fn: 6345.0000 - fp: 2919.0000 - tn: 307368.0000 - tp: 382.0000 - binary_accuracy: 0.9708 - precision: 0.1157 - recall: 0.0568 - val_loss: 0.5128 - val_fn: 1639.0000 - val_fp: 468.0000 - val_tn: 77077.0000 - val_tp: 69.0000 - val_binary_accuracy: 0.9734 - val_precision: 0.1285 - val_recall: 0.0404
Epoch 11/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5057 - fn: 6302.0000 - fp: 3192.0000 - tn: 307095.0000 - tp: 425.0000 - binary_accuracy: 0.9701 - precision: 0.1175 - recall: 0.0632 - val_loss: 0.5135 - val_fn: 1647.0000 - val_fp: 366.0000 - val_tn: 77179.0000 - val_tp: 61.0000 - val_binary_accuracy: 0.9746 - val_precision: 0.1429 - val_recall: 0.0357
Epoch 12/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5055 - fn: 6319.0000 - fp: 3307.0000 - tn: 306980.0000 - tp: 408.0000 - binary_accuracy: 0.9696 - precision: 0.1098 - recall: 0.0607 - val_loss: 0.5106 - val_fn: 1583.0000 - val_fp: 903.0000 - val_tn: 76642.0000 - val_tp: 125.0000 - val_binary_accuracy: 0.9686 - val_precision: 0.1216 - val_recall: 0.0732
Epoch 13/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5051 - fn: 6322.0000 - fp: 3135.0000 - tn: 307152.0000 - tp: 405.0000 - binary_accuracy: 0.9702 - precision: 0.1144 - recall: 0.0602 - val_loss: 0.5104 - val_fn: 1586.0000 - val_fp: 862.0000 - val_tn: 76683.0000 - val_tp: 122.0000 - val_binary_accuracy: 0.9691 - val_precision: 0.1240 - val_recall: 0.0714
Epoch 14/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5049 - fn: 6269.0000 - fp: 3389.0000 - tn: 306898.0000 - tp: 458.0000 - binary_accuracy: 0.9695 - precision: 0.1191 - recall: 0.0681 - val_loss: 0.5109 - val_fn: 1603.0000 - val_fp: 743.0000 - val_tn: 76802.0000 - val_tp: 105.0000 - val_binary_accuracy: 0.9704 - val_precision: 0.1238 - val_recall: 0.0615
Epoch 15/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5050 - fn: 6310.0000 - fp: 3314.0000 - tn: 306973.0000 - tp: 417.0000 - binary_accuracy: 0.9696 - precision: 0.1118 - recall: 0.0620 - val_loss: 0.5109 - val_fn: 1595.0000 - val_fp: 753.0000 - val_tn: 76792.0000 - val_tp: 113.0000 - val_binary_accuracy: 0.9704 - val_precision: 0.1305 - val_recall: 0.0662
Epoch 16/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5049 - fn: 6296.0000 - fp: 3294.0000 - tn: 306993.0000 - tp: 431.0000 - binary_accuracy: 0.9697 - precision: 0.1157 - recall: 0.0641 - val_loss: 0.5112 - val_fn: 1586.0000 - val_fp: 902.0000 - val_tn: 76643.0000 - val_tp: 122.0000 - val_binary_accuracy: 0.9686 - val_precision: 0.1191 - val_recall: 0.0714
Epoch 17/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5050 - fn: 6313.0000 - fp: 3164.0000 - tn: 307123.0000 - tp: 414.0000 - binary_accuracy: 0.9701 - precision: 0.1157 - recall: 0.0615 - val_loss: 0.5111 - val_fn: 1595.0000 - val_fp: 837.0000 - val_tn: 76708.0000 - val_tp: 113.0000 - val_binary_accuracy: 0.9693 - val_precision: 0.1189 - val_recall: 0.0662
Epoch 18/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5048 - fn: 6285.0000 - fp: 3394.0000 - tn: 306893.0000 - tp: 442.0000 - binary_accuracy: 0.9695 - precision: 0.1152 - recall: 0.0657 - val_loss: 0.5109 - val_fn: 1590.0000 - val_fp: 824.0000 - val_tn: 76721.0000 - val_tp: 118.0000 - val_binary_accuracy: 0.9695 - val_precision: 0.1253 - val_recall: 0.0691
Epoch 19/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5045 - fn: 6327.0000 - fp: 3012.0000 - tn: 307275.0000 - tp: 400.0000 - binary_accuracy: 0.9705 - precision: 0.1172 - recall: 0.0595 - val_loss: 0.5112 - val_fn: 1567.0000 - val_fp: 1097.0000 - val_tn: 76448.0000 - val_tp: 141.0000 - val_binary_accuracy: 0.9664 - val_precision: 0.1139 - val_recall: 0.0826
Epoch 20/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5039 - fn: 6278.0000 - fp: 3434.0000 - tn: 306853.0000 - tp: 449.0000 - binary_accuracy: 0.9694 - precision: 0.1156 - recall: 0.0667 - val_loss: 0.5108 - val_fn: 1607.0000 - val_fp: 691.0000 - val_tn: 76854.0000 - val_tp: 101.0000 - val_binary_accuracy: 0.9710 - val_precision: 0.1275 - val_recall: 0.0591
Epoch 21/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5041 - fn: 6285.0000 - fp: 3337.0000 - tn: 306950.0000 - tp: 442.0000 - binary_accuracy: 0.9696 - precision: 0.1170 - recall: 0.0657 - val_loss: 0.5147 - val_fn: 1512.0000 - val_fp: 1802.0000 - val_tn: 75743.0000 - val_tp: 196.0000 - val_binary_accuracy: 0.9582 - val_precision: 0.0981 - val_recall: 0.1148
Epoch 22/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5043 - fn: 6274.0000 - fp: 3354.0000 - tn: 306933.0000 - tp: 453.0000 - binary_accuracy: 0.9696 - precision: 0.1190 - recall: 0.0673 - val_loss: 0.5106 - val_fn: 1584.0000 - val_fp: 845.0000 - val_tn: 76700.0000 - val_tp: 124.0000 - val_binary_accuracy: 0.9694 - val_precision: 0.1280 - val_recall: 0.0726
Epoch 23/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5040 - fn: 6284.0000 - fp: 3304.0000 - tn: 306983.0000 - tp: 443.0000 - binary_accuracy: 0.9698 - precision: 0.1182 - recall: 0.0659 - val_loss: 0.5118 - val_fn: 1557.0000 - val_fp: 1230.0000 - val_tn: 76315.0000 - val_tp: 151.0000 - val_binary_accuracy: 0.9648 - val_precision: 0.1093 - val_recall: 0.0884
Epoch 24/30
317014/317014 [==============================] - 1s 3us/step - loss: 0.5036 - fn: 6286.0000 - fp: 3317.0000 - tn: 306970.0000 - tp: 441.0000 - binary_accuracy: 0.9697 - precision: 0.1173 - recall: 0.0656 - val_loss: 0.5105 - val_fn: 1594.0000 - val_fp: 820.0000 - val_tn: 76725.0000 - val_tp: 114.0000 - val_binary_accuracy: 0.9695 - val_precision: 0.1221 - val_recall: 0.0667
Epoch 25/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5034 - fn: 6284.0000 - fp: 3429.0000 - tn: 306858.0000 - tp: 443.0000 - binary_accuracy: 0.9694 - precision: 0.1144 - recall: 0.0659 - val_loss: 0.5112 - val_fn: 1554.0000 - val_fp: 1253.0000 - val_tn: 76292.0000 - val_tp: 154.0000 - val_binary_accuracy: 0.9646 - val_precision: 0.1095 - val_recall: 0.0902
Epoch 26/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5034 - fn: 6256.0000 - fp: 3602.0000 - tn: 306685.0000 - tp: 471.0000 - binary_accuracy: 0.9689 - precision: 0.1156 - recall: 0.0700 - val_loss: 0.5110 - val_fn: 1614.0000 - val_fp: 681.0000 - val_tn: 76864.0000 - val_tp: 94.0000 - val_binary_accuracy: 0.9710 - val_precision: 0.1213 - val_recall: 0.0550
Epoch 27/30
317014/317014 [==============================] - 1s 3us/step - loss: 0.5030 - fn: 6274.0000 - fp: 3451.0000 - tn: 306836.0000 - tp: 453.0000 - binary_accuracy: 0.9693 - precision: 0.1160 - recall: 0.0673 - val_loss: 0.5105 - val_fn: 1588.0000 - val_fp: 814.0000 - val_tn: 76731.0000 - val_tp: 120.0000 - val_binary_accuracy: 0.9697 - val_precision: 0.1285 - val_recall: 0.0703
Epoch 28/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5030 - fn: 6264.0000 - fp: 3504.0000 - tn: 306783.0000 - tp: 463.0000 - binary_accuracy: 0.9692 - precision: 0.1167 - recall: 0.0688 - val_loss: 0.5113 - val_fn: 1592.0000 - val_fp: 891.0000 - val_tn: 76654.0000 - val_tp: 116.0000 - val_binary_accuracy: 0.9687 - val_precision: 0.1152 - val_recall: 0.0679
Epoch 29/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5031 - fn: 6247.0000 - fp: 3688.0000 - tn: 306599.0000 - tp: 480.0000 - binary_accuracy: 0.9687 - precision: 0.1152 - recall: 0.0714 - val_loss: 0.5127 - val_fn: 1632.0000 - val_fp: 490.0000 - val_tn: 77055.0000 - val_tp: 76.0000 - val_binary_accuracy: 0.9732 - val_precision: 0.1343 - val_recall: 0.0445
Epoch 30/30
317014/317014 [==============================] - 1s 2us/step - loss: 0.5030 - fn: 6262.0000 - fp: 3547.0000 - tn: 306740.0000 - tp: 465.0000 - binary_accuracy: 0.9691 - precision: 0.1159 - recall: 0.0691 - val_loss: 0.5135 - val_fn: 1507.0000 - val_fp: 1754.0000 - val_tn: 75791.0000 - val_tp: 201.0000 - val_binary_accuracy: 0.9589 - val_precision: 0.1028 - val_recall: 0.1177

In [ ]:
history.history.keys()

In [ ]:
train_accuracy = history.history['precision'][-1]
val_accuracy = history.history['val_precision'][-1]

print("Training accuracy: " + str(train_accuracy))
print("Validation accuracy: " + str(val_accuracy))

In [ ]:
preds = model.predict(X_test)
y_pred = np.where(preds>0.5,1,0)
confusion_matrix(y_test, y_pred)

In [ ]:
import lime.lime_tabular

In [ ]:
explainer = lime.lime_tabular.LimeTabularExplainer(X_train, feature_names=final_df.columns[2:], class_names=["Delinquent","Not Delinquent"], discretize_continuous=False)

In [ ]:
test_df[test_df['OneBorrower']==0].head()

In [ ]:
len(X_test[3722])

In [ ]:
preds

In [ ]:
def predict_both(x):
    val = model.predict(x)
    
    new_vals = []
    for i in val:
        new_val = np.array([i[0],1-i[0]])
        new_vals.append(new_val)
    
    return np.array(new_vals)

In [ ]:
preds[3]

In [ ]:
predict_both(np.array([np.array([1]+[0 for _ in range(32)])]))

In [ ]:
exp.as_list()

In [ ]:
sum([val[1] for val in exp.as_list()])

In [ ]:
# np.array([0]+[0 for _ in range(32)])
exp = explainer.explain_instance(np.array([1]+[0 for _ in range(32)]), predict_both, num_samples=len(X_train), num_features=33, top_labels=1)
exp.show_in_notebook(show_all=True)